<!doctype html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>PiggyBank!</title>
</head>
<body>
<div class="container">
    <!-- Image and text -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            <img src="/images/pig.svg" width="30" height="50" class="d-inline-block align-center" alt="">
            PiggyBank
        </a>
    </nav>
    <br/>
    <form style="border: 2px solid lightblue;padding: 10px;border-radius: 25px;" method="get" th:object="${search}" action="/search">
        <div class="form-row">
            <div class="col-3"> <label for="searchText"><h4>Search Customer</h4></label></div>
            <div class="col-4">
                <input th:field="*{text}" type="text" class="form-control" id="searchText"
                       placeholder="Search Email or Last Name">
            </div>
            <div class="col" ><button type="submit" class="btn btn-primary">Submit</button></div>
        </div>

    </form>
    <br/>
    <div th:each="account: ${accounts}" class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Account of <span th:text="${account.customer.firstName}"/>&nbsp;<span
                            th:text="${account.customer.lastName}"/></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Number : <span th:text="${account.id}"/></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Account Type : <span th:text="${account.accountType}"/>
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted">Email : <span
                            th:text="${account.customer.emailAddress.value}"/></h6>
                    <h6 class="card-subtitle mb-2 text-muted">City : <span th:text="${account.customer.address.city}"/>
                    </h6>
                    <a th:href="@{/customer-details(id=${account.id})}" class="card-link"> Customer Details</a>
                    <a th:href="@{/transactions-details(accountId=${account.id})}" class="card-link"> Transaction Details</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>